<header class="main-header">
    <div class="header-container">
        <a href="{{PATH_PREFIX}}/" class="logo-area" aria-label="Torna alla Home di AliceTrueCrime">
            <img src="{{PATH_PREFIX}}/assets/img/logoVettoriale.svg" alt="" height="80" />
            <span>AliceTrueCrime</span>
        </a>

        <nav class="main-nav" aria-label="Menu principale">
            <ul>
                {{NAVBAR}}
            </ul>
        </nav>

        <div class="header-actions">
            {{HEADER_BUTTONS}}
        </div>
    </div>
</header>